<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Добро пожаловать на наш сайт!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'designapp:index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li><a href="{% url 'designapp:admin-profile' %}">Личный кабинет администратора</a></li>
                {% else %}
                <li><a href="{% url 'designapp:profile' %}">Личный кабинет</a></li>
                {% endif %}
                <form method="post" action="{% url 'designapp:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
                {% else %}
                <li><a href="{% url 'designapp:login' %}">Войти</a></li>
                <li>Нет аккаунта? <a href="{% url 'designapp:register' %}">Зарегистрируйтесь!</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>
            {% block content %}
            <!-- Основное содержимое страницы будет здесь -->
            {% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; 2024 Design.pro</p>
    </footer>

</body>
</html>