{% extends "base.html" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% block content %}
<h2>Последние выполненные заявки</h2>
<div class="applications">
    <!-- Пример заявок -->
    {% for application in applications %}
    <div class="application">
        <img src="{{ application.image.url }}" alt="{{ application.title }}">
        <p><strong>Временная метка:</strong> {{ application.timestamp }}</p>
        <p><strong>Название:</strong> {{ application.title }}</p>
        <p><strong>Категория:</strong> {{ application.category }}</p>
    </div>
    {% endfor %}
</div>

<div class="counter">
    <h3>Количество заявок в статусе «Принято в работу»: <span id="accepted-count">{{ accepted_count }}</span></h3>
            </div>
{% endblock %}