/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #FFA500;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    margin: 20px;
}

main {
    flex: 3; /* Основной контент занимает 3/4 ширины */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1; /* Боковая панель занимает 1/4 ширины */
    padding: 20px;
    background-color: #efefef;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff; /* Цвет кнопки */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.sidebar a:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.application {
    margin-bottom: 20px;
}

.application img {
    max-width: 100%; /* Адаптивное изображение */
    height: auto; /* Сохраняем пропорции изображения */
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #004524;
    color: white;
    position: relative; /* Чтобы подвал оставался внизу страницы */
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* На мобильных устройствах боковая панель будет под основным контентом */
        margin: 10px;
    }

    .sidebar {
        margin-left: 0;
        margin-top: 20px; /* Отступ сверху для боковой панели */
    }
}