{% extends "base.html" %}
{% block title %}<title>Личный кабинет</title>{% endblock %}
{% block content %}
    <div class="container">
        <div class="sidebar">
            <h2>Меню</h2>
            <ul>
                <li><a href="{% url 'designapp:application-create' %}">Создание заявки</a></li>

            </ul>
        </div>

        <main>
            <h2>Мои заявки:</h2>

            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Дата создания</th>
                        <th>Статус</th>
                        <th>Изображение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>{{ application.title }}</td>
                        <td>{{ application.category }}</td>
                        <td>{{ application.timestamp }}</td>
                        <td>{{ application.status }}</td>
                        <td>{{ application.photo_name }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Заявок нет.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
{% endblock %}